* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: MechanismoRegular, monospace;
}
body {
  overflow-x: hidden;
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
}

.flex {
  display: flex;
}

/* NAVBAR STYLE */
nav {
  z-index: 111;
}

.nav-container {
  justify-content: space-between;
  /* border: 1px #000 dotted; */
  height: 70px;
  border-bottom: 2px #000 dotted;
}

.nav-left {
  width: 500px;
  align-items: center;
}

.nav-links {
  height: 100%;
}

.mobile {
  height: 100%;
}

.logo {
  width: 300px;
  height: 100%;
  display: flex;
  align-items: center;
  padding-left: 10%;
}

.logo img {
  height: 60px;
}